CHROMEOS_RELEASE_BOARD=%BOARD%
CHROMEOS_RELEASE_DESCRIPTION=0.0.0 (Network boot initramfs)
CHROMEOS_RELEASE_VERSION=0.0.0
CHROMEOS_AUSERVER=http://%SERVER_ADDR%:8080/update
CHROMEOS_DEVSERVER=http://%SERVER_ADDR%:8080
FACTORY_INSTALL=1
NETBOOT_RAMFS=1
HTTP_SERVER_OVERRIDE=true
