ACTION=="add", ATTR{name}=="cros-ec-accel", RUN+="/lib/udev/accelerometer-init.sh %k accel"
ACTION=="add", ATTR{name}=="cros-ec-gyro", RUN+="/lib/udev/accelerometer-init.sh %k anglvel"
ACTION!="remove", ATTR{name}=="cros-ec-accel", SYMLINK+="cros-ec-accel/%n", MODE="640", GROUP="chronos"
