[Hook Overrides]
# Make sure Manifest files are valid.
manifest_check: true

# We use tabs in most places in ebuilds/helper files.
tab_check: false

[Hook Scripts]
hook0=./sys-apps/dbus/presubmit_check.sh
