[Hook Overrides]
# Make sure Manifest files are valid.
manifest_check: true

# We use tabs in most places in ebuilds/helper files.
tab_check: false

# On by default, but required for options below.
cros_license_check: true

[Hook Overrides Options]
# Ignore VERSION file
cros_license_check: --exclude_regex=\bVERSION$

[Hook Scripts]
hook0=./sys-apps/dbus/presubmit_check.sh
