# Copyright 2017 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

write: 1
_newselect: 1
read: 1
close: 1
getpeername: 1
getsockname: 1
accept: 1
clone: 1
exit_group: 1
# We only want to allow AF_INET, AF_INET6, AF_UNIX, and SOCK_STREAM.
socket: arg0 == 10 && arg1 == 1 && arg2 == 0 || arg0 == 2 && arg1 == 1 && arg2 == 0 || arg0 == 1 && arg1 & 0xfffffff2 && arg2 == 0
connect: 1
open: 1
stat64: 1
mmap2: arg2 & 0xfffffffb || arg2 == 0
fstat64: 1
mprotect: arg2 & 0xfffffffb || arg2 == 0
rt_sigaction: 1
brk: 1
munmap: 1
setsockopt: 1
restart_syscall: 1
exit: 1
rt_sigreturn: 1
setgid32: 1
setuid32: 1
access: 1
set_tls: 1
getpid: 1
listen: 1
setgroups32: 1
execve: 1
wait4: 1
bind: 1
uname: 1
# Allow SIOCGIFNAME.
ioctl: arg1 == 0x8910
# When we catch a SIGTERM, we kill children with SIGTERM too.
kill: 1
