# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# This file specifies udev rules to configure certain Huawei modems to select
# the USB configuration expected by Chrome OS.

# Huawei ME936: Select the MBIM configuration
ACTION=="add|change", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", \
  ATTR{idVendor}=="12d1", ATTR{idProduct}=="15bb", \
  ATTR{bNumConfigurations}=="3", ATTR{bConfigurationValue}!="3", \
  RUN+="/bin/sh -c 'echo 3 > %S%p/bConfigurationValue'"
