# Copyright 2016 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Update the Activation Date
PartOf=system-services.target
After=tlsdated.target

[Service]
ExecStart=/bin/sh /usr/share/cros/init/activate_date.sh
